*{
    padding: 0;
    margin:0;
}

body{
    background-image: url('../public/zgeTuV.jpg');
    background-repeat: no-repeat;
    background-size: 300px 100px;
    background: black;
    color:azure;
}
.movie-app >.row{
   overflow: auto;
   flex-wrap: nowrap;

}
.row>* {
    flex-shrink: 0;
    width: auto;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
.image-container{
    position:relative;
    transition: transform 0.2s;

}
.image-container:hover{
    cursor: pointer;
    transform:scale(1.1);

}
